[2014-11-13 21:07] ZacharyDuBois opened #1 "Installer Fails to Open Config in Some Cases"
Some hosting cases (Shared environment), the installer fails to open the config file.

Original issue from old repository:

[code]

[2014-11-13 21:08] ZacharyDuBois opened #2 "Multi-Lang Support"
Add the ability for multiple languages.

[2014-11-13 21:11] ZacharyDuBois opened #3 "Admin Interface"
Add an easy way to manage the stats database and interface settings.

[2014-11-13 21:12] ZacharyDuBois opened #4 "World Page"
Add a page listing all the worlds being tracked by stats and some information about those worlds.

[2014-12-11 01:34] ZacharyDuBois opened #5 "Player Pages Title Shows Player Name"
When looking at the site from a player page, the site title in the menubar shows the player name instead of the site title.

[2014-12-14 05:00] ZacharyDuBois opened #6 "Make Avatar URI Dynamic"
Make the avatar URI setting dynamic to the listing scripts.

[2014-12-14 05:05] #6 closed, assigned to ZacharyDuBois

[2014-12-14 05:13] #5 closed, assigned to ZacharyDuBois

[2014-12-14 05:14] #1 closed, assigned to nobody

[2014-12-14 05:22] ZacharyDuBois opened #7 "Install Redirect"
Installer will sometimes redirect and sometimes won't.

[2014-12-14 05:47] ZacharyDuBois commented on #7
Still exists...

[2014-12-14 05:50] #7 closed, assigned to ZacharyDuBois

[2014-12-14 05:59] ZacharyDuBois opened #8 "Add Icons and Links to Live Ticker"
Add links to players personal stats pages and player icons.

[2014-12-14 06:45] #8 closed, assigned to ZacharyDuBois

[2014-12-15 13:07] ZacharyDuBois opened #9 "Unit Conversions"
Add SI unit conversions.

[2014-12-15 13:14] ZacharyDuBois opened #10 "New UI"
Use the new UI that is much nicer looking and responsive.

[2014-12-16 12:08] Adzkii opened #11 "Fluid Stats Web Installation Fault"
Few installation bugs, After clicking "install" it takes me back to the same install page, Also yes I've filled in everything that is \* required too? Sorry if i'm missing anything out, Point it out :)

[2014-12-16 16:59] ZacharyDuBois opened #12 "Redirect When Using FMCS in a Subdirectory"
When you have Fluid MC Stats in a subdirectory, it causes a redirect to the installer using the wrong location.

[Link to original](http://dev.bukkit.org/bukkit-plugins/lolmewnstats/?comment=1712)

[2014-12-16 21:35] #12 closed, assigned to ZacharyDuBois

[2014-12-21 01:49] krustymk opened #14 "Cannot access links from main Stats page when Fluid stats is in a sub directory in a wordpress site"
Wordpress site is in root
Fluid stats is in a subdirectory called .... Stats
Link to Stats Index from Wordpress site in the menu (this works)
When looking at the Fluid stats page and clicking a link it goes to a blank page, ive managed to get a 404 artical not found by changing the permalink settings in wordpress but thats it..
Anyway, i would guess Fluid is not overiding wordpress link settings,

[2014-12-22 23:33] ZacharyDuBois opened #15 "Server Image Subdirectory Bug"
Server image doesn't load from the correct place when in a subdirectory.

[2014-12-23 23:44] krustymk opened #16 "Internal server error"
So i figured id install this to a proper site and not a sub directory

Went through the install fine.
AGAIN no links working!!
http://www.jayshome.co.uk/index.php
just to be clear, i am hosting 19 separate sites, none of which have had any problems. Only yours!

Used a fresh download, copied the entire contents to the folder including .htaccess

Just to be clear again!
I am hosting 19 separate sit

[2014-12-24 02:24] #16 closed, assigned to nobody

[2014-12-24 20:38] #15 closed, assigned to ZacharyDuBois

[2014-12-24 20:41] ZacharyDuBois opened #17 "Add Minecraft Query Back"
Add back the display of server query in the server information block.

[2014-12-24 21:20] #17 closed, assigned to ZacharyDuBois

[2014-12-24 21:29] ZacharyDuBois opened #18 "Add Sever Query Caching"
Requesting a query for each page load is very slow. Have a cache JSON file so it doesn't make a shit ton of requests.

[2014-12-24 22:20] #18 closed, assigned to ZacharyDuBois

[2014-12-27 15:08] Standfford opened #19 "Some bugs"

[2014-12-30 22:21] #11 closed, assigned to ZacharyDuBois

[2014-12-31 01:10] sshadow opened #20 "Server always shows offline"
In the newest release from BD our server is always showing offline. I have triple checked the config and all is good. Database functions and all that work great. Our server runs on a bungee network however I wouldn't think that would effect the online/offline status as it "usually" works elsewhere.

Thanks.

[2015-01-01 03:49] sshadow commented on #20
string(39) "/home/mcempire/public_html/forum/stats/" bool(true)

[2015-01-01 03:50] ZacharyDuBois commented on #20
Hmm, there should be two `bool(true)`s Are you sure you copied all the lines?

[2015-01-01 03:57] sshadow commented on #20
Oops my bad.

string(39) "/home/mcempire/public_html/forum/stats/" bool(true) bool(true)

[2015-01-01 04:04] ZacharyDuBois commented on #20
I just entered the IP you have listed on your site into the demo installation, it is also reporting offline and is not having errors. But it is not your Minecraft server because it is responding to DInnerbone's query checker. Let me look into this some more.

[2015-01-01 04:17] ZacharyDuBois commented on #20
Hmm, I was just able to use it on another bungee server. So it isn't that. Are you running anything that could be restricting the server query or such? I am clueless right now. I am not very familiar with the Minecraft server query protocol. That is why we use a library for it and that isn't even detecting your server. Sec, I will look a bit more.

[2015-01-01 04:27] ZacharyDuBois commented on #20
In your Bungee server's `config.yml` can you make sure `query_enabled` is set to `true` and that `query_port` is set to `25565`. I am out of ideas.

If that doesn't fix it, I will look deeper in after New Years. Hope you enjoy 2015 :)

[2015-01-01 04:29] sshadow commented on #20
Yep they are both set. I will see if I can find some sort of standalone script to test. I know I have seen a few out there in the past. That way we can see for sure if it's just in my hosting environment.

[2015-01-01 04:30] sshadow commented on #20
Oh and hope you have a great 2015 as well. Thanks for the help :)

[2015-01-01 04:32] ZacharyDuBois commented on #20
Oh, if you want to try with the library we use with Fluid MC Stats, we use [FunnyItsElmo/PHP-Minecraft-Server-Status-Query](https://github.com/FunnyItsElmo/PHP-Minecraft-Server-Status-Query)

If you do figure this out before I do, please share so it is included in the next release :)

[2015-01-01 06:01] sshadow commented on #20
Ok I have uploaded your example here and configured it and it's not working http://mcempire.net/forum/serverping/example.php - Will continue to fiddle with it to see if I can get it to detect our server.

I uploaded another I found here and it seems to be working http://mcempire.net/forum/serverping3/view.php - The github link is on that page.

[2015-01-01 19:36] ZacharyDuBois commented on #20
Interesting. I luckily with how I wrote the query cache script, this is almost as simple as a drop and replace. But maybe I could open an issue to see if the current library could be fixed. I will do that, and if I don't get a response in a few days, I will go on and use the other one. The problem with the other one is, it does not receive the server icon.

[2015-01-07 17:36] krustymk opened #21 "Zoomed in on Mobile Devices and Menu Is Not Working"
When i install to a root folder it works fine

[2015-01-07 17:38] krustymk opened #22 "No Right Column (Server Info)"
Didnt notice this at first due to mainly working in a sub folder, but thinking the layout looked rubbish (single column on the left big nothing on the right)

Maybe connected to the menu button issue?

[2015-01-07 22:44] krustymk opened #23 "Always top 15players"
I presume it the following entry in the config.php?

[code]

If it is it doesnt seem to be working

[2015-01-08 04:23] ZacharyDuBois commented on #23
Yes, that would be the value to change. I am not sure we ever implemented it. It should be fairly simple. I am having @Lolmewn send me a copy of a DB that has more than 3 users in it. Mine only has 3 :(. Due to the timezone difference, he will probably get back to me tomorrow with it. Thanks for the report :)

[2015-01-08 04:33] ZacharyDuBois commented on #21
Do you know what menu buttons aren't working or is it all of them. I thought I fixed this in 372fb82f362bb364602b833e0581e66017a6806f but, I might not have. As for zoomed, could you screen shot it?

On Xcode's iOS simulator, I was not able to reproduce the zoomed feel on the following:

iPhone 6 Plus:
![ios simulator screen shot jan 7 2015 11 28 47 pm](https://cloud.githubusercontent.com/assets/24

[2015-01-08 04:40] ZacharyDuBois commented on #22
This was the actual intention at the time. On small screens, instead of a two column layout, it will turn into a one column layout to make it look nicer on a small screen. I am however not able to reproduce the issue of the server status information not being displayed at all.

[2015-01-08 04:40] ZacharyDuBois commented on #22
(Forgot some labels)

[2015-01-08 11:07] krustymk commented on #21
The look you have above is the zoomed look I am referring to.
The three lines you click for the drop down menu do nothing, no menu appears. But only when the site is in a sub folder. Full size, each individual link works.

[2015-01-08 11:12] krustymk commented on #22
This was on a PC not a tablet. The server info is just not there when installed into a sub folder. The big gap where it should be is though (on a PC monitor, not a tablet) I'll do a screenshot when I get chance

[2015-01-08 15:45] krustymk commented on #22
![fluid](https://cloud.githubusercontent.com/assets/5390088/5665010/1026b6c0-974d-11e4-955c-81ce5187a3f1.jpg)

For a while this is how i thought it was supposed to look..
http://theamigos.co.uk/stats/ if you want to see it first hand

[2015-01-08 15:48] krustymk commented on #22
Also, if you zoom the page (ctrl+mousewheel) till the menu collapses you'll see the 3 lines dont work
Forgive my not knowing the technical names

[2015-01-10 19:34] #19 closed

[2015-01-10 19:42] ZacharyDuBois commented on #22
Sorry for the delay, I was sick the past few days. Could you add the following lines to the top of `/inc/status-cache.php` after the includes?

[code]

The top of the file should look like this:

[code]

and change `error_reporting(0);` to `error_reporting(1);` in `inc/header.php`.

This will output a lot of debug information. After doing so, could you screenshot it and post it here?

[2015-01-10 19:44] ZacharyDuBois opened #24 "Make Debugging Easier"
Make debug setting to turn on error reporting.

[2015-01-10 21:14] #23 closed

[2015-01-10 21:15] ZacharyDuBois commented on #23
@Lolmewn provided me with a database. Fixed in the referenced commit :) Thanks for the report!

[2015-01-10 21:24] #14 closed

[2015-01-10 21:24] ZacharyDuBois commented on #14
Should be fixed now :)

[2015-01-10 21:27] ZacharyDuBois commented on #20
@sshadow, I am going to give another day or two for a response on the issue. If no reply, I switch it over to the one you linked :)

[2015-01-10 21:33] ZacharyDuBois commented on #21
My test site is currently in a subdirectory and I cannot reproduce:

![ios simulator screen shot jan 10 2015 4 30 12 pm](https://cloud.githubusercontent.com/assets/2458289/5693343/48bfb956-98e6-11e4-815a-b29e7792fd51.png)
![ios simulator screen shot jan 10 2015 4 31 35 pm](https://cloud.githubusercontent.com/assets/2458289/5693344/48d04280-98e6-11e4-95d5-c2887775b3df.png)

The custom links do not

[2015-01-10 21:35] ZacharyDuBois commented on #22
I am not having this issue on my current sub directory install for testing.

[2015-01-10 21:37] ZacharyDuBois opened #25 "Hide Ping If Less than X ms"
The ping in the server status should not be displayed when it is less than ~10ms. This way it his hidden for people with their Minecraft server on the same server as their web server.

[2015-01-10 21:41] #25 closed

[2015-01-10 22:04] ZacharyDuBois commented on #23
Also, you can download the master repo right now if you want. It currently works on the test site.

[2015-01-11 01:17] krustymk commented on #22
![fluid](https://cloud.githubusercontent.com/assets/5390088/5693959/898b8d54-992f-11e4-902b-bac789d5f229.jpg)
Still exactly the same, would you like ftp access to the folder?

[2015-01-11 01:20] krustymk commented on #21
http://theamigos.co.uk/stats/
go there and its produced for you, Ill give you ftp access to that folder if you wish

[2015-01-11 01:29] krustymk commented on #23
Working a treat!! Top man

[2015-01-11 01:57] ZacharyDuBois commented on #23
Great :)

[2015-01-11 02:00] ZacharyDuBois commented on #21
AH, this is related to your other issue, #22. The JavaScript is not loading at the bottom because the entire bottom of the page is failing to load.

![screen shot 2015-01-10 at 8 59 32 pm](https://cloud.githubusercontent.com/assets/2458289/5694055/aa9e7304-990b-11e4-8712-3bab4fa82b0c.png)

[2015-01-11 02:10] ZacharyDuBois commented on #22
So the code I told you to insert was to check for a few things that Fluid MC Stats requires that has caused similar issues. The `die()` statement says to stop processing the page there so nothing after should be working when adding that code. But all the values returned are correct. If you would like me to solve this a bit faster, FTP credentials might help. If you do give me access, email them to

[2015-01-11 02:30] ZacharyDuBois opened #26 "Pagination Doesn't Work When in a Subdirectory"
When in a subdirectory, pagination doesn't work due to it requesting the web root.

[2015-01-11 02:40] ZacharyDuBois opened #27 "Search Does Not Work in Subdirectory"
When in a subdirectory, the search bars do not work.

[2015-01-11 03:00] #26 closed

[2015-01-11 03:02] ZacharyDuBois commented on #27
Magically fixed?...

[2015-01-11 03:02] #27 closed

[2015-01-11 03:53] #24 closed

[2015-01-11 04:22] sshadow commented on #20
Ok thanks for the update :)

[2015-01-12 00:06] ZacharyDuBois opened #28 "Cache Offline Status"
Currently, when the server is offline, the `query.json` is not created and the script will continue to try to make a connection on each page load. This should be cached so pages can load faster and not spam the server query.

[2015-01-12 00:08] ZacharyDuBois commented on #20
@sshadow I've gotten no response from him. I will make way with the new script :)

[2015-01-12 00:14] ZacharyDuBois opened #29 "Add Online Player List"
Since we are using a new server status script, return a nice list of avatars :)
Related issue #20.

[2015-01-12 02:52] #20 closed

[2015-01-12 02:52] #28 closed

[2015-01-12 02:52] ZacharyDuBois commented on #20
I wouldn't say it is ready for use right now as I have not heavily tested it yet. But it has been added :)

[2015-01-12 03:31] ZacharyDuBois opened #30 "Some Servers Do Not Support MinecraftQuery.php"
Some of the tested servers did not support `MinecraftQuery.php` but supported `MinecraftPing.php`. If the `MInecraftQuery.php` does not work, fallback to `MinecraftPing.php`.

[2015-01-12 03:32] ZacharyDuBois commented on #29
Added in 96cf3b0b8d74d999aef3962df5c3ecdc0a45212a

[2015-01-12 03:32] #29 closed

[2015-01-12 03:55] #30 closed

[2015-01-12 04:04] ZacharyDuBois commented on #20
@sshadow, I did fix it and I randomly went on a server list and tested it with 25 servers at random. I did run into an issue described in #30 and added a workaround. Test out the master branch and let me know how it goes. Also, when you do that and everything works (or doesn't), post back here with a copy of the debug info (Set `$debug` to `true` in the config). Thanks!

[2015-01-13 05:57] sshadow commented on #20
Grabbing now to test. Sorry for the delay had a "fun" DDOS issue to work out :(

[2015-01-13 06:44] sshadow commented on #20
Ok looks good. My debug info is below. Also I have a theory on why the query may not work on some servers. From the file it looks like it works on the UDP protocol. This worked before my "fun" experience I referenced above however now it is giving me errors as well. The change was me switching over to a DDOS protected IP however it only allows TCP from what I understand. Regardless atleast it show

[2015-01-13 10:43] ZacharyDuBois commented on #20
Eh. I have no idea why people DDoS but it happens. Great to here you got this sorted out. :) I will test that theory later today. If that's the case, I can update the docs with that information :D

[2015-01-14 13:20] ZacharyDuBois commented on #22
@krustymk, could you get back to me on this?

[2015-01-14 20:43] krustymk commented on #22
Not been around, ill get on it now

[2015-01-14 20:56] krustymk commented on #22
a pm on your bukkit account

[2015-01-15 02:27] ZacharyDuBois commented on #22
@krustymk, thanks. I will take a look in a few minutes.

[2015-01-15 02:35] ZacharyDuBois commented on #22
It's back up, working on it now.

[2015-01-15 02:53] ZacharyDuBois opened #31 "Better .htaccess Files"
Some of the `.htaccess` directives do not properly work.

[2015-01-15 03:01] ZacharyDuBois commented on #22
@krustymk, I was able to get it working with the current source. I am not sure why it was not working for you. Debug looks clean too:

[code]

You may see the warning in the sidebar. This is a known issue if you don't have UDP opened on your query port. Take a look at issue #20 for some info on those warnings. You can turn off the warning in the config file. Looking at your debug information, it s

[2015-01-15 03:01] #22 closed

[2015-01-15 03:01] ZacharyDuBois commented on #21
Fixed :)

[2015-01-15 03:01] #21 closed

[2015-01-15 03:10] ZacharyDuBois opened #32 "Live Ticker Does Not Link to Profiles Correctly When in Subdirectory"
I noticed this when working on issue #22.

[2015-01-15 03:17] #32 closed

[2015-01-15 03:26] ZacharyDuBois commented on #31
C'mon GitHub, auto close my issues :(

[2015-01-15 03:26] #31 closed

[2015-01-15 03:48] ZacharyDuBois opened #33 "Sometimes Player List Is Available Through Minecraft Ping"
Sometimes (Shown in issue #22) players are listed in the `MinecraftPing.php` output. If this is the case, that one should be used.

[2015-01-15 19:30] djjaeger82 opened #34 "Tighter integration of Dynmap"
Great plugin, but it would be great if you can enable tighter integration of dynmap into this plugin.  Perhaps making a Map link in the very top of the fixed menu?  (you could ask for the URL to the dynmap server in the initial config and link it).  Not sure if you could put a snapshot img of the default world somewhere on the homepage too or not.  (I think WebStatsX might have done something like

[2015-01-16 03:50] ZacharyDuBois commented on #34
I can add a map page fairly easily with an iframe that has the map in it (I think that is how WebStatsX did it). But I can one up this. I could also make the entire background work as the map (I've see this done on a lot of cool sites before).

[2015-01-16 03:59] ZacharyDuBois opened #35 "Add Update Checker"
Seems like a fun challenge for when my stuff is back online. Have it check a json for update information once every 24 hours or something. This will be a config option of corse because people like their privacy.

[2015-01-16 04:42] djjaeger82 commented on #34
That sounds really cool!   Can't wait to check it out, let me know if I can be of any use in testing.   I have a relatively low use 5 person or so server with my friends but that also makes it extremely easy for me to test out new stuff at will.

[2015-01-16 04:47] ZacharyDuBois commented on #34
I will probably have a working copy tomorrow that will have it. I am exhausted today (That and it is 23:44 here). I don't have Overviewer or Dynmap anymore so I will need to probably set one of them up soon. Resource-wise, Overviewer has a better outcome so I will probably get that setup tomorrow too.

[2015-01-16 15:44] krustymk opened #36 "Make Player List Ordering Configurable"
Can you make it so they can be sorted either by alphabet or time descending or ascending?
Just an idea

Cheers, great job by the way!

[2015-01-16 15:46] ZacharyDuBois commented on #36
Requests are welcome, I want the v0.2.1 release to be a big one before the pause between it and the new UI coming in v0.3.0 :)

[2015-01-17 02:42] ZacharyDuBois commented on #34
@djjaeger82, let me know what you think of the current source (Run a test site or something :) ) That doesn't contain the background yet. Just this:

![screen shot 2015-01-16 at 9 41 34 pm](https://cloud.githubusercontent.com/assets/2458289/5787333/7a4eb8b4-9dc8-11e4-899f-8f99821c48d9.png)
![screen shot 2015-01-16 at 9 39 32 pm](https://cloud.githubusercontent.com/assets/2458289/5787334/7a5d2de0-9

[2015-01-17 02:59] #34 closed

[2015-01-17 03:00] ZacharyDuBois commented on #34
That commit should add a background for it too. Try these out and let me know how you like them. The current UI doesn't provide a lot of room on the actual map page to do a ton, that is why I added the link to the full map.

[2015-01-17 03:10] ZacharyDuBois commented on #36
Working on this now ;)

[2015-01-17 03:21] ZacharyDuBois commented on #36
@krustymk, Do you want the 2nd column to change to what stat you tell it to sort by? Or keep it playtime?

[2015-01-17 04:04] #36 closed

[2015-01-17 04:05] ZacharyDuBois commented on #36
@krustymk, I think that is what you are looking for :)

[2015-01-17 11:26] krustymk opened #37 "Is getting a players balance (money) possible?"
If it is, i think it would look better only displaying on the character page, but seperate from black breaks and such.. an idea

[2015-01-17 12:33] ZacharyDuBois opened #38 "Allow For Color MOTD's"
Currently, the UI shows the raw MOTD. Allow it colorize it.

[2015-01-17 12:37] ZacharyDuBois commented on #37
It is very possible, the Stats plugin has a load of data. I am not sure why I didn't add this earlier. Coming right after I add more support the different types of queries.

[2015-01-17 12:51] #33 closed

[2015-01-17 13:14] #38 closed

[2015-01-17 13:23] ZacharyDuBois commented on #37
Ah, now I remember why we *removed* that. Currently, Stats logs everything per-world. Money is one of the bugs because the only way to retrieve it would be to grab it from one world, but at the same time, we don't know what people name their worlds. I have an idea I can try and I'll see if that works. If is does, I will make a push with it :)

[2015-01-17 13:55] ZacharyDuBois commented on #37
The referenced commit contains the money stat. I need to fix the server total and average however.

[2015-01-17 23:49] djjaeger82 commented on #34
Thanks this looks pretty good actually.  The map integration in the link at the top, and having it available as a sub "frame" in your GUI is exactly what I had in mind, also nice you have the link to open it full screen if you want.  Not sure if I really like the background option though, the other elements of the GUI are just too big to really make it useful, but still kind of neat.  Thanks again

[2015-01-17 23:51] ZacharyDuBois commented on #34
No problem. I think I need to fix the background so it will strip out all the map controls. I have it currently so you can't move it in the background but, it'd be good to get rid of the UI too.

[2015-01-18 17:05] Robin222 opened #39 "Top players page isn't working"
I get this error on the top players page

Unknown column 'kills' in 'field list'
![untitled](https://cloud.githubusercontent.com/assets/8219209/5793231/73c482c6-9ef9-11e4-8c6b-04f03325c86b.png)

How do i fix it?

[2015-01-18 19:03] ZacharyDuBois commented on #39
Sorry about the tag spam. My iPad dropped connection. Could you please follow the format in the Contributing file?

[2015-01-18 19:32] Robin222 commented on #39
I turned the debug mode on and i got this error:

YOU ARE IN DEBUG MODE! FLUID MC STATS WILL NOT FUNCTION WHEN IN THIS MODE!
Paste the following into your issue on GitHub:

[code]

[2015-01-18 21:21] ZacharyDuBois commented on #39
Create a file on your server called `info.php` with the following contents:

[code]

That error is normally thrown when you have a PHP version prior to 5.3 because it does not support the `JSON_PRETTY_PRINT` parameter.

[2015-01-18 21:59] Robin222 commented on #39
Alright thanks!

[2015-01-18 22:07] Robin222 commented on #39
Do i leave it on debug mode: true? or false?

Because i already uploaded the file but i keep getting the error

[2015-01-18 22:07] ZacharyDuBois commented on #39
You have to load `domain.tld/info.php` once you uploaded it.

[2015-01-18 22:11] Robin222 commented on #39
Wait hold on am getting confused, do i just type domain.tld/info.php on the info.php? sorry am not very good at this.

[2015-01-18 22:13] ZacharyDuBois commented on #39
Load in a web browser `domain.tld/info.php`. Your screenshot shows `pvpworldstats.site88.net` so load `http://pvpworldstats.site88.net/info.php` and it should just say the version of PHP you are running.

[2015-01-18 22:18] Robin222 commented on #39
[code]

[2015-01-18 22:20] ZacharyDuBois commented on #39
Then you have something wonky going on with the hosting provider, I am more than happy to help you get it working but, I am not sure if I can't even get any information as to what the hosting service you are using is running on their systems.

[2015-01-18 22:22] Robin222 commented on #39
Ok thanks.

[2015-01-18 22:25] Robin222 commented on #39
What web hosting do you recommend me?

I was using 000webshost for the website

[2015-01-18 22:27] ZacharyDuBois commented on #39
I recommend using a VPS. You can get one for $5 over at DigitalOcean. But, I don't think you would be able to run it to be honest. You could go for a shared host at GoDaddy or someone for it. Hosting providers are a dime a dozen.

[2015-01-24 17:44] ZacharyDuBois commented on #39
Closing.

[2015-01-24 17:44] #39 closed, assigned to ZacharyDuBois

[2015-01-29 22:03] adamwbb opened #40 "Add Support for Grabbing Data from Both mcPing and mcQuery"
It seems that it constantly shows the server as offline.
you can look here http://aporianetwork.enjin.com/stats
Even though server is online and is able to be queried by other sites.

[2015-01-31 20:35] ZacharyDuBois commented on #40
Could you follow the notes in `CONTRIBUTING.md` please?

[2015-02-02 16:19] adamwbb commented on #40
- Fluid MC Stats Version: Beta v0.2.1
- Stats Version: v2.0.1
- Site URL: http://aporianetwork.enjin.com (stats widget http://stats.webbservermc.com)

### Issue:

It seems that it constantly shows the server as offline.
Even though server is online and is able to be queried by other sites.
screenshot: http://prntscr.com/606li0

### Expected Behavior:

supposed to show server as online when server

[2015-02-02 16:58] ZacharyDuBois commented on #40
@adamwbb, thanks for the debug info. From my end, it looks like it is a hosting provider/PHP configuration issue. I plugged in the server information that was in the debug to the demo interface, and it worked fine.

![screen shot 2015-02-02 at 11 53 53 am](https://cloud.githubusercontent.com/assets/2458289/6004671/69be8e90-aad2-11e4-90b1-259ba4b68359.png)

I also assume you are on a shared host on

[2015-02-02 20:37] adamwbb commented on #40
i moved it to my dedicated private server and i would like to know how to enable that with php.

[2015-02-02 21:45] adamwbb commented on #40
this is the new debug  output
YOU ARE IN DEBUG MODE! FLUID MC STATS WILL NOT FUNCTION WHEN IN THIS MODE!
Paste the following into your issue on GitHub:

[code]

also query.json is empty

[2015-02-02 21:48] ZacharyDuBois commented on #40
Mine is running on the default PHP config. If it isn't outputting the JSON for debug, either, you don't have `php5-json` installed/enabled or you are running a version of PHP where `JSON_PRETTY_PRINT` isn't supported.

[2015-02-03 03:31] adamwbb commented on #40
hers my php configuration
http://stats.webbservermc.com/info.php

is there any way i can fix the issues you listed above?

[2015-02-03 03:36] adamwbb commented on #40
this debug log shows up

[code]

[2015-02-03 03:37] ZacharyDuBois commented on #40
Yeah, then it is a old version of PHP. x < 5.4 (IIRC).

[2015-02-03 03:40] adamwbb commented on #40
how do i update it then on centos right now yum says its up to date

[2015-02-03 03:44] ZacharyDuBois commented on #40
I don't have a ton of knowledge on the CentOS package manager. You could try [this](https://www.digitalocean.com/community/tutorials/how-to-install-linux-apache-mysql-php-lamp-stack-on-centos-6) or a [Google](http://lmgtfy.com/?q=Latest%20PHP%20on%20CentOS).

[2015-02-03 03:47] adamwbb commented on #40
think i solved it this now shows in debug:

[code]

and its now showing as online

[2015-02-03 03:49] ZacharyDuBois commented on #40
Disable debug, and it should work :)

[2015-02-03 05:27] jessefjxm opened #41 "Mysql Efficiency Issue"
There seems to have some serious mysql efficiency issue with Stats 2.0.1 with newest spigot 1.8 snapshot……

I built a test server using newest spigot 1.8 snapshot with only Stats 2.0.1 & vault installed, and 1 player.
CPU% of mysql thread in htop keep 0~1.6 when no players in test server.
CPU% rises to 90~100% 1s after I logged in.Falls to normal after 5s.
CPU% also rises 5s after I break/place se

[2015-02-03 10:34] ZacharyDuBois commented on #41
This repository is not for the Stats plugin. (Also, I do not have is issue so it is probably something with your setup. )

[2015-02-03 10:34] #41 closed, assigned to nobody

[2015-02-04 03:36] adamwbb commented on #40
issue came back with it not showing online
here is my php info file http://stats.webbservermc.com/info.php

debug info:

[code]

[2015-02-04 03:39] ZacharyDuBois commented on #40
Hmm, I am not seeing anything odd. I am also not sure how it just stopped working. Could you let me see the site when debug is off?

[2015-02-04 03:40] adamwbb commented on #40
debug is off now
http://stats.webbservermc.com

[2015-02-04 03:48] ZacharyDuBois commented on #40
That is really interesting because I am currently using the demo site to try this and it works fine for me. Does this server have access to connect to your Minecraft server? If it randomly came back, I want to assume it is a bug on my end but, I can't seem to reproduce that. Can you try to enable full error reporting in the `php.ini` and then remove `error_reporting(0);` located near the top in `i

[2015-02-04 04:03] adamwbb commented on #40
ill see what happens.
the Stats website is running off the same machine as the mc server

[2015-02-04 04:04] adamwbb commented on #40
[code]

[2015-02-04 04:12] ZacharyDuBois commented on #40
Hmm, well nothing is really out of the ordinary there. Though, you should set the PHP timezone in the `php.ini` file to make that last one go away. But that shouldn't cause anything to fail in that way. To make those other errors go away, I suppose you could edit `inc/status-cache.php` to have the following added somewhere at the top. But it most likely won't fix the actual issue of it not queryin

[2015-02-04 22:48] adamwbb commented on #40
i compared both debugs and noticed this (- means not in new debug but in old debug + means in new but not in old debug):

 .-         "queryData": null
 .+         "queryData": {
 .+             "mcQuery": {
 .+                 "getInfo": false,
 .+                 "getPlayers": false
 .+             },
 .+             "mcPing": {
 .+                 "query": null
 .+             },
 .+

[2015-02-06 21:28] ZacharyDuBois commented on #40
Yeah, when you were running the old version of PHP, it could not encode the json. But I still cannot reproduce the issue on any of my setups. Can you give me details on your Minecraft/Bukkit/Spigot server so I can try to see if I can figure it out?

[2015-02-06 21:49] adamwbb commented on #40
Can you send me a private email at adamwbb@gmail.com
I am gonna give you some Information to access my unit.
On Feb 6, 2015 4:29 PM, "Zachary J. DuBois" notifications@github.com
wrote:

[2015-02-06 23:18] adamwbb commented on #40
This server is running CraftBukkit version git-Spigot-8a983f9-9ae3381 (MC: 1.8) (Implementing API version 1.8-R0.1-SNAPSHOT)

[code]

Plugins:

[code]

[2015-02-07 19:49] ZacharyDuBois commented on #40
Why is your query port not listening on the default Minecraft port. Set that to listen to 25565.

[2015-02-07 22:34] adamwbb commented on #40
ok now it works.
why then does the sever properties auto assign port 25566 to the query instead of the same port as the server is on.

also it seems even though it was querying on port 25566 your demo set up detected the server. however my setup didnt.

also MOTD Version Players are blank on stats page.

[2015-02-08 00:08] ZacharyDuBois commented on #40
Could you paste the debug information again because now it is getting the query data but it is either missing stuff or it is under a different name. If it is under a different name, I will add support for people having similar issues. But I still have no issue on my end.

[2015-02-08 00:21] adamwbb commented on #40
[code]

[2015-02-08 00:22] adamwbb commented on #40
![missinginfo](https://cloud.githubusercontent.com/assets/2437446/6094597/b7929e10-aefe-11e4-8b43-bf41f7bbf0d0.png)

[2015-02-08 00:24] ZacharyDuBois commented on #40
I did take a look at the site to see what you meant by it was blank. It's because that data is grabbed using the `mcPing` part of the `status.json` file. Now I have a way to fix this. It will be ready for v0.2.1 :)

[2015-02-18 06:12] adamwbb commented on #39
simple fix
open config.php in a editor replace "kills" with "kill" save file.
works for me every time.

[2015-02-18 15:48] ZacharyDuBois commented on #39
@adamwbb, his problem is he doesn't have JSON support because he cannot even render the JSON debug page.

[2015-03-30 16:13] KreatorB opened #42 "WebSite-Fluid-MC-Stats Issues"
Hello, thanks for the awesome work and great server addons.
I am having a few issues since trying to install the Fluid-MC-Stats.
1. It is so slow and hangs, is there a reason and how can I adjust or fix this........
2. After several install to resolve speed issue I noticed it always says my server is offline, yet the database it calling and the MYSQL test was successful when going through the step

[2015-03-30 20:43] ZacharyDuBois commented on #42
Could you please follow the information provided in the `CONTRIBUTING.md` file? Thanks.

[2015-03-30 21:09] KreatorB commented on #42
- Fluid MC Stats Version: Beta v0.2.0
  - Stats Version: v2.0.1
  - Site URL: http://www.iplayablockhead.com/mcstats/

  ### Issue:

  I am having a few issues since trying to install the Fluid-MC-Stats.
  1. It is so slow and hangs, is there a reason and how can I adjust or fix this........
  2. After several install to resolve speed issue I noticed it always says my server is offline, yet the da

[2015-03-30 21:31] ZacharyDuBois commented on #42
I need to see the debug information specified in that file.

[2015-03-30 21:46] KreatorB commented on #42
how do I get you the debug info? I am happy to provide, but have no clue what you are looking for?
I did a debug on myself and got this in the console!

[code]

I did note that the world is not correct, it should say world, sax2 is one of the 4 worlds on the server

[2015-03-30 21:48] ZacharyDuBois commented on #42
It says in the `CONTRIBUTING.md` file.

[2015-03-30 21:50] KreatorB commented on #42
this is what is in the CONTRIBUTING.md file.

# Contributing

## Rules
- Do not assign a milestone, we will do that after reviewing.
- Do not assign to someone, we will do that.
- Do not spam comment.
- Do not bump issues.
- Make sure you are using the latest version of both, the plugin and interface.
- Attach images of the errors.
- Copy the error text if any.

If you want to make issues and help

[2015-03-30 21:52] ZacharyDuBois commented on #42
Ah, use the source version from this repo.

[2015-03-30 22:08] ZacharyDuBois commented on #42
The interface it not part of the Minecraft server at all making those logs irrelevant.

[2015-03-30 22:09] KreatorB commented on #42
Okay, I changed config file so Debug: true and reloaded my Site (slow as hell) and it changed nothing.

[2015-03-30 22:55] KreatorB commented on #42
you keep telling me to look at what needs to be done, I did the following like it states.
Open config.php and set debug to true. Then load Fluid MC Stats in your browser. It should say YOU ARE IN DEBUG MODE! FLUID MC STATS WILL NOT FUNCTION WHEN IN THIS MODE!. Paste the information it tells you.

I hate to tell you the Stats plugin is still working in debug mode after I set it to true and restarte

[2015-03-30 22:57] ZacharyDuBois commented on #42
1. Download the master branch.
2. See if the issue still occurs after installing the master.
3. If the issue still occurs, turn on debug and paste the information it will provide.
4. Report back here.

[2015-03-30 23:14] KreatorB commented on #42
Okay did all that and now it is completely different the problem.
It loads the Fluid page but not the links like player and I get with a 404error

[2015-03-30 23:16] ZacharyDuBois commented on #42
You didn't copy the htaccess file.

[2015-03-30 23:17] KreatorB commented on #42
I replaced it all and reinstalled using the Master

[2015-03-30 23:20] KreatorB commented on #42
I rebooted server with DeBug on and I get nothin on the Fluid-Site in terms of bugs or codes I can give you

[2015-03-30 23:21] ZacharyDuBois commented on #42
Please increase your skills with running a server before opening an issue. I cannot baby users through the setup steps.

[2015-03-30 23:24] KreatorB commented on #42
[Deleted by @ZacharyDuBois]

[2015-03-30 23:29] ZacharyDuBois commented on #42
Sorry, I don't waste time trying to baby someone who doesn't know how to host the simplest of sites.

[2015-03-30 23:29] #42 closed, assigned to ZacharyDuBois

[2015-06-10 01:06] ghost opened #43 "Blank Pages and error while loading data for live ticker"
Hi, getting the error 'There was an problem while loading the data. Please try again later.' on the live ticker page and nothing ever happens. Another thing is that all the rest of the pages, Server Stats, Top Lists, Top Players and players lists are all just completely blank pages. It's a new install and from what i could tell the install went fine
Any ideas?

[2015-06-10 01:16] #43 closed, assigned to ZacharyDuBois

[2015-06-17 06:05] doomlordking opened #44 "Not Found"
i installed Fluid-MC-Stats 2.0 fine but when i click any links it give me a not found error. "Not Found
The requested URL /stats/live-ticker was not found on this server."   Stats v2.0.1 f

[2015-06-17 21:39] ZacharyDuBois commented on #44
Please use the format provided in the contributing file.

[2015-06-20 10:56] ghost opened #45 "XSS Issues"
User input data is not validated, and as a result the website is vulnerable to multiple Cross-Site-Scripting vulnerabilities.

You can contact me on email for further details: extreme.corpcraft@hotmail.com
Or in Skype: Extreme CorpCraft

[2015-06-20 14:46] ZacharyDuBois commented on #45
I know. I refuse to update due to the current status of Minecraft.

[2015-06-25 11:19] gerardvanschip opened #46 "Server status offline?"
My server is located at mc.kaizen-worlds.net:26988 which I configured, both as address and port and the whole thing. My Wordpress plugin has the same details and understands that my server is up but stats seems to think its off.

[2015-06-25 16:37] ZacharyDuBois commented on #46
Could you please follow the contributing file.

[2015-08-02 01:30] GiuseppeGroth opened #47 "Website Does Not Work With Stats v3."
I get this error on the top players page
These are users with current top rankings on the server.
![statssql](https://cloud.githubusercontent.com/assets/1659170/9024277/85529f48-38c6-11e5-8ab0-6e16bedf02f3.PNG)
Table 'mc_stats.stats_player' doesn't exist

plugin mysql

[code]

webweite conf

[code]

[code]

[2015-08-02 02:11] ZacharyDuBois commented on #47
Fluid MC Stats does not work with Stats v3 at this time and planned support is not anytime soon on the roadmap.

[2015-10-19 13:51] cronoszeu opened #48 "json_encode() Error"
- Fluid MC Stats Version: Beta vv0.2.0
- Stats Version: v2.0.1
- Site URL: http://vanillasurvival.com/
### Issue:

Right side wont show ...
### Expected Behavior:

To show server stats ?
### Debug Output:

YOU ARE IN DEBUG MODE! FLUID MC STATS WILL NOT FUNCTION WHEN IN THIS MODE!
Paste the following into your issue on GitHub:

[code]

[2015-10-19 13:55] cronoszeu commented on #48
PHP info
http://vanillasurvival.com/phpinfo.php

Also config.php for server
// Your Minecraft server name.
$server_name = 'Vanilla Survival';
// An A Record, AAAA Record, CNAME Record or IP to your Minecraft server without the port.
$mc_server_ip = 'vanillasurvival.com';
// Port Number to your Minecraft server.
$mc_server_port = '25565';
// A 'nice' address for your Minecraft server. This will be

[2015-10-20 13:33] ZacharyDuBois commented on #48
Hi @cronoszeu. So if you haven't noticed, this project has been discontinued until I can find the time to update it. But I am happy to help you out with your issue. It appears you're running an old version of PHP which cannot use the `JSON_PRETTY_PRINT` parameter. All you need to do to get rid of that error is do `cd /where/fmcs/is/installed && grep -R JSON_PRETTY_PRINT *` to find where all the fi

[2015-10-20 21:54] cronoszeu commented on #48
Ah I did not know is not any more supported as it can be a nice website integrated with a cms will do the job :)

I have done that and this is the result

YOU ARE IN DEBUG MODE! FLUID MC STATS WILL NOT FUNCTION WHEN IN THIS MODE!
Paste the following into your issue on GitHub:

[code]

I think the prob is the cache file or something no idea how to fix it.
Any bit of help will help :)

Regards

[2015-10-21 00:14] ZacharyDuBois commented on #48
@cronoszeu Awesome. I do plan to work on this again soon but I have to get some other things done first. And yes, the query cache appears to be the last problem. I've gone ahead and formatted that JSON you posted so it is easier to read. As you can see, `"queryCacheFileWrite":false`. All you need to do is change that temporary directory so it can be written to by the web user.

[2015-10-21 00:37] cronoszeu commented on #48
Hi,

Well is what I tried to do after I saw the problem but I had no luck ..
I run my webhost on a win server 2008 R2 with appserv installed ... From what I read is that windows has by default permission to allow writings ..

The problem looks it is inc/status-cache.php
If I disable this in serverstatusui.php the right side will show but say server online but than
MOTD:
Version:
Players: of max

I

[2015-10-21 01:56] ZacharyDuBois commented on #48
Very odd. Then again, this isn't I planned to support Windows for (As stated in the README.md). If the web user can write to that temp directory but for some reason cannot create the file for the query cache, it seems like it is a permissions problem. Windows permissions are different than a UNIX-like system. I recommend you grab a linux server over at [DigitalOcean](https://we.destroy.tokyo/Digit

[2015-10-21 11:41] cronoszeu commented on #48
I know what you but I will prefer to have it on my server as with my mc server (a 24GB dedi)
I will check more and see if I find a solution

Regards

[2015-10-21 11:51] cronoszeu commented on #48
There

YOU ARE IN DEBUG MODE! FLUID MC STATS WILL NOT FUNCTION WHEN IN THIS MODE!
Paste the following into your issue on GitHub:

[code]

But the website still say server offline :))
Also can I get an example of query.json writings?

Regards

[2015-10-21 14:41] cronoszeu commented on #48
Hi,

Ok I done it all works as it should :) and I have no idea how I did it ..

Thanks for help guys and please start again .. this can be a nice free website with premium plugins like admin panel or something

Regards

[2015-10-21 14:41] #48 closed, assigned to ZacharyDuBois

[2015-10-22 01:35] ZacharyDuBois commented on #48
No problem, I am glad I was of help :) I will try to get started on this again in a month or two but no guarantees :/

[2016-03-15 18:33] hockeymikey commented on #47
This is disappointing.

[2016-03-16 13:43] ZacharyDuBois commented on #47
@hockeymikey This is not my issue. I do plan updating it at some point in the coming weeks. Minecraft is essentially on a spiral decline. I have a local branch of the new version (The images linked on the super old forum thread). It doesn't work with Stats 3 but it is mostly rewritten.

I will also inform you that this is not an open source project. Read the license to avoid DMCA.

[2016-03-22 02:24] hockeymikey commented on #47
@ZacharyDuBois Lol you just admitted it was your issue in the same comment.  It's not the end of the world if you can't get to it right away.
Haha you're going to DMCA me?  That's rich!

[2016-03-31 19:27] ZacharyDuBois commented on #44
Closed for inactivity.

[2016-03-31 19:27] #44 closed, assigned to ZacharyDuBois

[2016-03-31 19:28] ZacharyDuBois commented on #45
This should be fixed in the new version. Alpha will be available later this week.

[2016-03-31 19:28] ZacharyDuBois commented on #46
Closed for inactivity.

[2016-03-31 19:28] #46 closed, assigned to ZacharyDuBois

[2016-03-31 19:30] ZacharyDuBois commented on #47
@GiuseppeGroth I am pleased to inform you that there will be an updated version coming later this week (About time, I know). This version will bring many enhancements and features that include compatibility with Stats v3 :)

[2016-04-05 01:46] ZacharyDuBois opened #49 "Alpha v0.3.0 Tester Signup"
Hello,

Since the `v0.3.0` is a complete re-code of _everything_, I want there to be some through testing done on it. I will be releasing nightly builds starting on _2016-04-17 @ 22:00 EST_. You will find them in the [GitHub releases](https://github.com/ZacharyDuBois/Fluid-MC-Stats/releases) tab.
If you'd like to test the alpha and help squash bugs for v0.3.0, please click the subscribe button for

[2016-04-05 02:45] JonathanTab commented on #49
+1

[2016-05-02 20:09] Valdri opened #50 "mysql error"
[code]

[2016-05-02 20:51] ZacharyDuBois commented on #50
This is not related to Fluid MC Stats. Fluid MC Stats is _only_ the web interface. Please contact @Lolmewn.

[2016-05-02 20:51] #50 closed, assigned to nobody

[2016-06-01 17:54] wanted156 commented on #47
Any news about compatibility with v3? Also, when i try to click any button on the website the page is not found.

http://188.138.102.12/stats1/

[2016-06-02 01:48] ZacharyDuBois commented on #47
@wanted156, At the moment, there is no eta due to finals and lack of free time.

[2016-06-05 18:47] wanted156 commented on #47
So the problem is in the version conflict. Hmm, sounds bad. Can this work
in a bungee network? We've got a community ( nr. 1 in Slovenia) and we
would like to have it on all our servers. So it tracks them in total.

Regards,
Tomaž Leopold

2016-06-02 3:48 GMT+02:00 Zachary DuBois notifications@github.com:

##

Lep pozdrav,
Tomaž Leopold

[2016-06-05 22:37] ZacharyDuBois commented on #47
@wanted156, This problem is due to the new database scheme in Stats 3. As for the bungee question, that is not associated with Fluid MC Stats. That is a question for @Lolmewn, the developer of the Stats plugin.

[2016-06-06 14:42] wanted156 commented on #47
Hm alright. I hope your finals go well and i'm looking forward to a quick
update ;)
For the bungee question, i'll ask lolmenw.
Thanks

2016-06-06 0:38 GMT+02:00 Zachary DuBois notifications@github.com:

##

Lep pozdrav,
Tomaž Leopold

[2016-06-11 17:51] wanted156 commented on #47
redacted - @ZacharyDuBois

[2016-06-11 18:13] ZacharyDuBois commented on #47
@wanted156 This repository is for help with FMCS only. Please contact the respective project owners with your question.